<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Data Collector Web</title>
      <link rel="stylesheet" href="../static/css/main.css">
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Collecting height</h1>
        <h3>Please fill the entires to get the population statistics on height</h3>
        <form class="" action="{{url_for('success')}}" method="post" enctype="multipart/form-data">
            <input type="email" name="useremail" placeholder="Email Here" required>
            <br/>
            <input type="number" min="50" max="300" step="0.1" name="userinput" placeholder="eg.150">
            <br/>
            <input type="file" name="file">
            <br/>
            <button type="submit">Submit</button>
        </form>
      </div>
    </header>
  </body>
</html>
